@charset "UTF-8"; 

*{
    margin: 0%;
    padding: 0%;
}

.body01 {
    background-image: url(m1.jpg);
}

.card {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 600px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px black;
    border: 12px;  
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    max-width: 400px;
    
}

@media (max-width : 573px) {
    .card {
        width: 320px;
        
    }
}



.alinhado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding-top: 110px;
    height: 700px;
    
    
}



.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 50%;
}


h1 {
    text-align: center;
}
main {
    width: 100%;
}

.love {
    background-color: transparent;
    padding-top: 100px;
    margin-bottom: 300px;
}